a {
  padding: 5px;
  width: 300px;
  border: 2px solid salmon;
  border-radius: 5px;
  margin: 10px;
  background-color: tomato;
  color: white;
  font-weight: bold;
  justify-self: center;
  text-align: center;
}

.layout-container {
  display: grid;
  grid-template-rows: repeat(5, 50px);
  grid-template-columns: repeat(3, 100fr);
}

.fonts-container {
  display: grid;
  grid-template-rows: repeat(2, 50px);
  grid-template-columns: repeat(3, 100fr);
}

.images-container {
  display: grid;
  grid-template-rows: repeat(5, 50px);
  grid-template-columns: repeat(3, 100fr);
}

h1 {
  margin: 10px;
  justify-self: center;
}
