:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-icon-background: #f3f9fa;
}

/* Change sizing for everything */
*,
*::after *::before {
  box-sizing: border-box;
}

/* MARK: TYPOGRAPHY */
html {
  /* Makes a unit of REM 10px */
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5; /* 1.5 times the current font size*/
  color: var(--color-body);
  width: 90vw;
  border: 3px solid darkgrey;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  /* Let the Heading above the paragraph set the margin */
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* MARK: LINKS */
a {
  text-decoration: none; /* None of the links in the mockup have underlines */
}

.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase; /* All of the links are in CAPS*/
  font-size: 2rem;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin-left 0.15s;
}

/* Target the arrow, make it move to the right */
.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* MARK: BADGES */
/* 2nd Principle of BEM, seperate structure from skin */
.badge {
  /* Structure */
  border-radius: 20px; /* Round corners */
  padding: 0.5rem 2rem; /* Distance between text and border */
  font-weight: 600;
  white-space: nowrap; /* Text should never leave the badge */
  font-size: 2rem;
}

.badge--primary {
  /* Skin */
  background: var(--color-primary);
  color: white;
}

.badge--secondary {
  /* Skin */
  background: var(--color-secondary);
  color: white;
}

.badge--small {
  /* Skin */
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge {
    font-size: 1.2rem;
  }
}

/* MARK: LISTS */
.list {
  list-style: none; /* Remove bullets */
  padding-left: 0; /* Remove default padding browsers add*/
  color: var(--color-headings);
}

/* modify list items in a list */
.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(/html5-and-css3-part-3/images/tick.svg);
  padding-left: 3rem; /* Ticks are off the screen as we removed the padding earlier*/
}

/* Use Nesting, when there is a tick, we need to change the list items */
.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/* #MARK: ICONS */
.icon {
  width: 40px;
  height: 40px;
}

.icon--primary {
  /* Unique property to .svg */
  fill: var(--color-primary);
}

.icon-container {
  background: var(--color-icon-background);
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* #MARK: BUTTONS */
.button {
  /* Typography */
  font-size: 1.8rem;
  font-weight: 600;
  white-space: nowrap; /* Make sure text doesn't spill out */
  text-transform: uppercase;
  text-align: center;

  /* Structure */
  border-radius: 200px;
  margin: 1rem 0;
  padding: 2rem 3rem;

  /* Extra */
  cursor: pointer; /* Looks clickable when hovered */
}

.button--primary {
  border: none;
  color: white;
  background: var(--color-headings);
}

.button--primary:hover {
  filter: brightness(1.4);
}

.button--outline {
  color: var(--color-headings);
  background: white;
  border-color: var(--color-headings);
}

.button--outline:hover {
  background-color: var(--color-headings);
  color: white;
  /* filter: brightness(1.4); */
}

.button--secondary {
  border: none;
  color: white;
  background: var(--color-secondary);
}

.button--secondary:hover {
  filter: brightness(1.1);
}

.button--accent {
  border: none;
  color: white;
  background: var(--color-accent);
}

.button--accent:hover {
  filter: brightness(1.4);
}

.button--block {
  /* horizontal margin of 45px, expand to fill space */
  width: calc(100% - 90px);
  box-sizing: border-box;
  display: inline-block;
}

@media screen and (min-width: 1024px) {
  .button {
    font-size: 1.5rem;
  }
}
