:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-tertiary: #02cdf1;
  --color-quarternary: #126de4;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-icon-background: #f3f9fa;
  --color-border: #ccc;
  --border-radius: 30px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Change sizing for everything */
*,
*::after *::before {
  box-sizing: border-box;
}

/* Makes the background color of any selection match our pallette, and makes the text pop */
::selection {
  background: var(--color-primary);
  color: white;
}

/* MARK: TYPOGRAPHY */
html {
  /* Makes a unit of REM 10px */
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5; /* 1.5 times the current font size*/
  color: var(--color-body);
  width: 90vw;
  border: 3px solid darkgrey;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
  font-weight: 500;
}

p {
  /* Let the Heading above the paragraph set the margin */
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* MARK: LINKS */
a {
  text-decoration: none; /* None of the links in the mockup have underlines */
}

.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase; /* All of the links are in CAPS*/
  font-size: 2rem;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin-left 0.15s;
}

/* Target the arrow, make it move to the right */
.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* MARK: BADGES */
/* 2nd Principle of BEM, seperate structure from skin */
.badge {
  /* Structure */
  border-radius: 20px; /* Round corners */
  padding: 0.5rem 2rem; /* Distance between text and border */
  font-weight: 600;
  white-space: nowrap; /* Text should never leave the badge */
  font-size: 2rem;
}

.badge--primary {
  /* Skin */
  background: var(--color-primary);
  color: white;
}

.badge--secondary {
  /* Skin */
  background: var(--color-secondary);
  color: white;
}

.badge--small {
  /* Skin */
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
}

/* MARK: LISTS */
.list {
  list-style: none; /* Remove bullets */
  padding-left: 0; /* Remove default padding browsers add*/
}

/* modify list items in a list */
.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(/html5-and-css3-part-3/images/tick.svg);
  padding-left: 3rem; /* Ticks are off the screen as we removed the padding earlier*/
  color: var(--color-headings);
}

/* Use Nesting, when there is a tick, we need to change the list items */
.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/* #MARK: ICONS */
.icon {
  width: 40px;
  height: 40px;
}

.icon--small {
  width: 30px;
  height: 30px;
}

.icon--primary {
  /* Unique property to .svg */
  fill: var(--color-primary);
}

.icon--white {
  fill: white;
}

.icon-container {
  background: var(--color-icon-background);
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon-container--accent {
  background-color: var(--color-accent);
}

/* #MARK: BUTTONS */
.button {
  /* Typography */
  font-size: 1.8rem;
  font-weight: 600;
  white-space: nowrap; /* Make sure text doesn't spill out */
  text-transform: uppercase;
  text-align: center;

  /* Structure */
  border-radius: 200px;
  margin: 1rem 0;
  padding: 2rem 3rem;

  /* Extra */
  cursor: pointer; /* Looks clickable when hovered */
  outline: 0;
}

.button .icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  vertical-align: middle;
}

.button--primary {
  border: none;
  color: white;
  background: var(--color-headings);
}

.button--primary:hover {
  filter: brightness(1.4);
}

.button--outline {
  color: var(--color-headings);
  background: white;
  border-color: var(--color-headings);
}

.button--stretch {
  padding-left: 6rem;
  padding-right: 6rem;
}

.button--outline:hover {
  background-color: var(--color-headings);
  color: white;
  /* filter: brightness(1.4); */
}

.button--secondary {
  border: none;
  color: white;
  background: var(--color-secondary);
}

.button--secondary:hover {
  filter: brightness(1.1);
}

.button--accent {
  border: none;
  color: white;
  background: var(--color-accent);
}

.button--accent:hover {
  filter: brightness(1.4);
}

.button--block {
  /* horizontal margin of 45px, expand to fill space */
  width: calc(100% - 90px);
  box-sizing: border-box;
  display: inline-block;
}

@media screen and (min-width: 1024px) {
  .button {
    font-size: 1.5rem;
  }
}

/* #MARK: INPUTS */
.input {
  padding: 1.5rem 3.5rem;
  border: 1px solid var(--color-borde);
  border-radius: var(--border-radius);

  outline: 0;

  color: var(--color-headings);
  font-size: 2rem;
}

::placeholder {
  color: #cdcbd7;
}

/* Input Group */
.input-group {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  display: flex;
}

.input-group .input {
  border: 0;
  /* Grow to take up the available space */
  /* Pushes the button to the far right */
  flex-grow: 1;
  padding: 1.5rem 2rem;
}

.input-group .button {
  margin: 4px;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}

/* #MARK: CARDS */
.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
}

.card__header,
.card__body {
  padding: 2rem 3rem;
}

.card--fullscreen {
  width: 100%;
}

.card--primary .card__header {
  background: var(--color-primary);
  color: white;
}

.card--secondary .card__header {
  background: var(--color-secondary);
  color: white;
}

.card--primary .badge--primary {
  background: var(--color-quarternary);
}

.card--secondary .badge--secondary {
  background: var(--color-tertiary);
}

/* #MARK: PLANS */
.plan {
  transition: transform 0.2s ease-out;
}

.plan__name {
  color: white;
  margin: 0;
  font-weight: 500;
  font-size: 2.4rem;
}

.plan__price {
  font-size: 6rem;
}

.plan__billing-cycle {
  font-size: 2.4rem;
  font-weight: 300;
  opacity: 0.8;
  margin-right: 1rem;
}

.plan__description {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
}

.plan .list__item {
  margin-bottom: 2rem;
}

.plan--popular {
  transform: scale(1.1);
}

.plan--popular .card__header {
  position: relative;
}

.plan--popular .card__header::before {
  content: url(/html5-and-css3-part-3/images/popular.svg);
  width: 40px;
  display: inline-block;
  position: absolute;
  top: -6px;
  right: 5%;
}

.plan:hover {
  transform: scale(1.05);
}

.plan--popular:hover {
  transform: scale(1.15);
}

@media screen and (min-width: 1024px) {
  .plan__name {
    font-size: 1.4rem;
  }

  .plan__price {
    font-size: 5rem;
  }

  .plan__billing-cycle {
    font-size: 1.6rem;
  }

  .plan__description {
    font-size: 1.7rem;
  }
}

/* #MARK: MEDIA */
.media {
  display: flex;
  margin-bottom: 4rem;
}

.media__title {
  margin-top: 0;
}

.media__body {
  margin: 0 2rem;
}

.media__image {
  margin-top: 1rem;
}

.quote .media__body {
  font-size: 3rem;
}

/* #MARK: QUOTES */
.quote {
  font-size: 3rem;
  font-style: italic;
  color: var(--color-body-darker);
}

.quote__text::before {
  content: open-quote;
}

.quote__text::after {
  content: close-quote;
}

.quote__author {
  font-size: 3rem;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 0;
}

.quote__organization {
  color: var(--color-headings);
  opacity: 0.4;
  font-size: 2rem;
  font-style: normal;
}

.quote__line {
  position: relative;
  bottom: 10px;
}

@media screen and (min-width: 1024px) {
  .quote {
    font-size: 2rem;
  }

  .quote__author {
    font-size: 2.4rem;
  }

  .quote__organization {
    font-size: 1.6rem;
  }
}

/* #MARK GRIDS */
.grid {
  display: grid;
}

/* breakpoint for tablet size */
@media screen and (min-width: 768px) {
  /* Class only has properties when the screen is a certain size */
  .grid--1x2 {
    /* Takes all the available space, divides it by 2, and gives each section 1 even slice of it */
    grid-template-columns: repeat(2, 1fr);
  }
}

/* breakpoint for tablet size */
@media screen and (min-width: 1024px) {
  /* Class only has properties when the screen is a certain size */
  .grid--1x3 {
    /* Takes all the available space, divides it by 2, and gives each section 1 even slice of it */
    grid-template-columns: repeat(3, 1fr);
  }
}

/* #MARK: TESTIMONIALS */
.testimonial {
  padding: 3rem;
}

.testimonial__image {
  position: relative;
}

.testimonial__image > img {
  width: 100%;
}

.testimonial__image > .icon-container {
  position: absolute;
  top: 3rem;
  right: -32px;
}

@media screen and (min-wdith: 768px) {
  .testimonial .quote,
  .testimonial .quote__author {
    font-size: 2.4rem;
  }

  .testimonial .quote {
    margin-left: 6rem;
  }
}

/* #MARK: CALLOUTS */
.callout {
  padding: 4rem;
  border-radius: 5px;
}

.callout--primary {
  background: var(--color-primary);
  color: white;
}

.callout__heading {
  color: white;
  margin-top: 0;
  font-size: 3rem;
}

.callout .button {
  /* Use justify-content and align-items for the grid */
  /* Use justify-self and align-self for the elements within the grid */
  justify-self: center;
  align-self: center;
}

.callout__content {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .callout .grid--1x2 {
    /* Makes the second column wide enough to only fit its contents */
    grid-template-columns: 1fr auto;
  }

  .callout__content {
    text-align: left;
  }

  .callout .button {
    justify-self: start;
    margin: 0 2rem;
  }
}

/* #MARK: COLLAPSIBLES */

.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}

.collapsible__chevron {
  transform: rotate(44deg);
  transition: transform 0.3s;
}

.collapsible__content {
  /* Give a fade-in/out effect */
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(132deg);
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/* #MARK: BLOCKS */
.block {
  /* Create a local variable for any child of the .block class */
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem;
}

.block__header {
  text-align: center;
}

.block__heading {
  margin-top: 0;
}

.block--dark {
  background: black;
  color: #7b858b;
}

.block--dark h1,
.block--dark h2,
.block--dark h3 {
  color: white;
}

.block--skewed-right {
  /* X-offset% Y-offset% */
  /* Top left point, Top Right point, Bottom Right Point, Left, somewhere in the middle point */
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%);

  /* Add padding to adjust for the clipped size */
  padding-bottom: calc(var(--padding-vertical) + 4rem);
}

.block--skewed-left {
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);

  /* Add padding to adjust for the clipped size */
  padding-bottom: calc(var(--padding-vertical) + 4rem);
}

/* #MARK: NAV */
.nav {
  background: black;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1rem;
  align-items: center;
}

.nav__list {
  width: 100%;
  margin: 0;
}

.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #222;
}

.nav__item > a {
  color: #d2d0db;
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: white;
}

.nav__toggler {
  opacity: 0.5;
  transition: box-shadow 0.15s;
  cursor: pointerr;
}

/* Only applies to togglers with a parent of both classes */
.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px #666;
  border-radius: 5px;
}

.nav__brand {
  transform: translateY(5px);
}

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }

  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
    /* Override the expandable class from earlier */
    max-height: 100%;
    opacity: 1;
  }

  .nav__item {
    border: 0;
  }
}

/* #MARK: HERO */
.hero__tagline {
  font-size: 2rem;
  color: #b9c3cf;
  letter-spacing: 1px;
  margin: 2rem 0 5rem;
}

.hero__image {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 0;
  }
  .hero__content {
    text-align: left;
    align-self: center;
  }
}

/* #MARK: DOMAIN */
.block-domain .input-group {
  box-shadow: 0 0 30px 20px #e6ebee;
  border: 0;
  margin: 4rem auto;
  max-width: 670px;
}

.block-domain__prices {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* When setting rows, include a height value, not a fraction */
  grid-template-rows: repeat(2, 6rem);
  font-weight: 600;
  justify-items: center;
  font-size: 2rem;
  max-width: 700px;
  /* Causes the elements to be centered and only use the space they need. */
  margin: 0 auto;
}

.block-domain__prices > li {
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  .block-domain__prices {
    /* use minmax + 1fr to make them all fit on one row if possible */
    grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
  }
}

/* #MARK: PLANS BLOCK */
.block-plans .grid {
  gap: 8rem 4rem;
}

.block-plans .card {
  max-width: 500px;
  margin: 0 auto;
}

/* #MARK: FEATURE BLOCK */

.feature {
  gap: 4rem 2rem;
  margin: 12rem 0;
}

/* Reduce space between header and first feature component */
.feature:first-of-type {
  margin-top: 6rem;
}

.feature__heading {
  margin: 1rem 0;
}

.feature__image {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .feature:nth-of-type(even) .feature__content {
    order: 2;
  }
}

/* #MARK: SHOWCASE BLOCK */
.block-showcase__image > img {
  /* Fill its container on mobile */
  width: 100%;
}

@media screen and (min-width: 768px) {
  .block-showcase .grid {
    /* Instead of 1fr, the width of the column will be determined by the width of the container, not its content */
    grid-template-columns: 50% 50%;
  }
  .block-showcase__image {
    /* Move it to the right side of its column */
    justify-self: end;
  }

  /* Keep in mind this is only getting changed on tablets+ */
  .block-showcase__image > img {
    width: 100%;
    max-width: 700px;
  }
}
