.navbar {
  display: flex;
  flex-direction: row;
  background-color: tomato;
  justify-content: end;
}

.nav-element {
  margin: 10px;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }
}
