<div class="collapsible">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <!-- Removed icon container element as we don't want a background -->
    <svg class="icon collapsible__chevron">
      <use
        xlink:href="/html5-and-css3-part-3/images/combined-svg-sprites.svg#tick"
      ></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo placeat omnis
    ea laborum, illo sed voluptas libero? Natus, consequatur! Delectus.
  </div>
</div>
<script src="/html5-and-css3-part-3/main.js"></script>

<!-- Expanded -->
<footer class="block block--dark footer">
  <div class="container grid">
    <section class="collapsible collapsible--expanded">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">Item 1</h2>
        <svg class="icon collapsible__chevron">
          <use
            xlink:href="/html5-and-css3-part-3/images/combined-svg-sprites.svg#tick"
          ></use>
        </svg>
      </header>
      <div class="collapsible__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo placeat
        omnis ea laborum, illo sed voluptas libero? Natus, consequatur!
        Delectus.
      </div>
    </section>
    <script src="/html5-and-css3-part-3/main.js"></script>
  </div>
</footer>
