<!-- Default Input -->
<input type="text" class="input" placeholder="Enter domain name here..." />

<!-- Input group with button -->
<div class="input-group">
  <input type="text" class="input" placeholder="Enter domain name here..." />
  <button class="button button--accent">Search</button>
</div>

<!-- Input group with icon -->
<div class="input-group">
  <span class="icon-container">
    <svg class="icon icon--primary">
      <use
        xlink:href="/html5-and-css3-part-3/images/combined-svg-sprites.svg#wordpress"
      ></use>
    </svg>
  </span>
  <input type="text" class="input" placeholder="Enter domain name here..." />
</div>
