.input {
  padding: 1.5rem 3.5rem;
  border: 1px solid var(--color-borde);
  border-radius: var(--border-radius);

  outline: 0;

  color: var(--color-headings);
  font-size: 2rem;
}

::placeholder {
  color: #cdcbd7;
}

/* Input Group */
.input-group {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  display: flex;
}

.input-group .input {
  border: 0;
  /* Grow to take up the available space */
  /* Pushes the button to the far right */
  flex-grow: 1;
  padding: 1.5rem 1rem;
}

.input-group .button {
  margin: 4px;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}
