body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.3);
  }

  50% {
    transform: rotate(45deg);
    background: dodgerblue;
  }

  100% {
    transform: rotate(179deg);
  }
}

.box1 {
  width: 100px;
  height: 100px;
  background: tomato;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  /* Plays from start to end */
  animation-direction: normal;
}

.box1:hover {
  animation-name: pop;
}

.box2 {
  width: 100px;
  height: 100px;
  background: gold;
}

.box2:hover {
  animation-name: pop;
}

/* Defining a class for reusable animations */
.animation-pop {
  animation-duration: 4s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  /* Plays from start to end */
  animation-direction: normal;
}

.box3 {
  width: 100px;
  height: 100px;
  background: olivedrab;
}

.box3:hover {
  animation-name: animate__bounce;
  animation-duration: 1s;
}
