.feature {
  gap: 4rem 2rem;
  margin: 12rem 0;
}

/* Reduce space between header and first feature component */
.feature:first-of-type {
  margin-top: 6rem;
}

.feature__heading {
  margin: 1rem 0;
}

.feature__image {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .feature:nth-of-type(even) .feature__content {
    order: 2;
  }
}
