<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis nisi
    porro molestiae quia deleniti! Explicabo sint nemo fuga repudiandae dolore,
    exercitationem, numquam vero sunt sequi quibusdam ducimus possimus veniam
    assumenda. Corporis totam architecto voluptatibus facilis, sunt est, ipsam
    saepe sequi esse tenetur sed repudiandae quo id veniam ad libero quidem?
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <!-- Code from icon section -->
        <svg class="icon icon--primary quote__line">
          <use
            xlink:href="/html5-and-css3-part-3/images/combined-svg-sprites.svg#line"
          ></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Mike Dorn</h3>
        <p class="quote__organization">My own perfect words</p>
      </div>
    </div>
  </footer>
</blockquote>
