/* Define fonts to be used */
@font-face {
  font-family: "opensans";
  src: url("/css/fonts/open-sans/opensans-regular-webfont.woff2")
      format("woff2"),
    url("/css/fonts/open-sans/opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  /* Sometimes it takes a while to download, you get FOUT */
  /* If it takes too long to load the font, stop trying, so the user doesn't get a FOUT */
  /* font-display: fallback */

  /* Tells the browser to keep trying to download the font, and swap it over when it finishes and a page is reloaded */
  font-display: optional;
}

@font-face {
  font-family: "opensans";
  src: url("/css/fonts/open-sans/opensans-bold-webfont.woff2") format("woff2"),
    url("/css/fonts/open-sans/opensans-bold-webfont.woff") format("woff");
  /* changed this to bold instead of normal */
  font-weight: bold;
  font-style: normal;
}

body {
  /* All elements Inherit this font */
  font-family: "opensans", Arial, Helvetica, sans-serif;
}

/* Set font heading */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* Set font size */
h1 {
  font-size: 4.209rem;
}

p {
  font-weight: 900;
  /* font-style: italic; */
  font-size: 1rem;
  /* if you only put 3 numbers, its duped to the next 3 digits */
  color: #333;
}

/* System fonts, no load times */
p.system-font-stack-example {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* media query for font size on larger computers */
@media screen and (min-width: 400px) {
  html {
    font-size: 130%;
  }
}

.law-of-proximity {
  /* copies right margin value */
  margin: 4rem 0 0.5rem;
}

.line-height-example {
  /* Usually you do 1.5*font-size */
  /* line-height: 1.5rem; */

  /* If you supply just a number, its treated as a multiplier for font size */
  /* 2*font-size */
  line-height: 2;
}

/* letter spacing */
.letter-spacing-example {
  letter-spacing: 0.1rem;
}

.header-letter-spacing-example {
  letter-spacing: -0.3rem;
}

/* word spacing */
.word-spacing-example {
  word-spacing: 2rem;
}

.header-word-spacing-example {
  word-spacing: -1rem;
}

/* line-length */
.line-length-example {
  width: 50ch;
}
