<div class="media">
  <div class="media__image">
    <!-- Code from icon section -->
    <svg class="icon icon--primary">
      <use
        xlink:href="/html5-and-css3-part-3/images/combined-svg-sprites.svg#snap"
      ></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Updates</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto
      perspiciatis eaque sint eligendi magnam blanditiis necessitatibus quae hic
      recusandae consectetur.
    </p>
  </div>
</div>
