<!-- Example -->
<span class="icon-container">
  <svg class="icon icon--primary">
    <use
      xlink:href="/html5-and-css3-part-3/images/combined-svg-sprites.svg#wordpress"
    ></use>
  </svg>
</span>

<!-- Variations -->
<svg class="sprite">
  <use
    xlink:href="/html5-and-css3-part-3/images/combined-svg-sprites.svg#snap"
  ></use>
</svg>
<svg class="sprite">
  <use
    xlink:href="/html5-and-css3-part-3/images/combined-svg-sprites.svg#tick"
  ></use>
</svg>
<svg class="sprite">
  <use
    xlink:href="/html5-and-css3-part-3/images/combined-svg-sprites.svg#wordpress"
  ></use>
</svg>
<svg class="sprite">
  <use
    xlink:href="/html5-and-css3-part-3/images/combined-svg-sprites.svg#chevron"
  ></use>
</svg>
<svg class="sprite">
  <use
    xlink:href="/html5-and-css3-part-3/images/combined-svg-sprites.svg#clock"
  ></use>
</svg>
<svg class="sprite">
  <use
    xlink:href="/html5-and-css3-part-3/images/combined-svg-sprites.svg#computer"
  ></use>
</svg>
<svg class="sprite">
  <use
    xlink:href="/html5-and-css3-part-3/images/combined-svg-sprites.svg#easy"
  ></use>
</svg>
<svg class="sprite">
  <use
    xlink:href="/html5-and-css3-part-3/images/combined-svg-sprites.svg#growth"
  ></use>
</svg>
<svg class="sprite">
  <use
    xlink:href="/html5-and-css3-part-3/images/combined-svg-sprites.svg#line"
  ></use>
</svg>
<svg class="sprite">
  <use
    xlink:href="/html5-and-css3-part-3/images/combined-svg-sprites.svg#menu"
  ></use>
</svg>
<svg class="sprite">
  <use
    xlink:href="/html5-and-css3-part-3/images/combined-svg-sprites.svg#search"
  ></use>
</svg>
<svg class="sprite">
  <use
    xlink:href="/html5-and-css3-part-3/images/combined-svg-sprites.svg#quotes"
  ></use>
</svg>
<svg class="sprite">
  <use
    xlink:href="/html5-and-css3-part-3/images/combined-svg-sprites.svg#settings"
  ></use>
</svg>
